body{
	margin: 20px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

h2{
	margin-left: auto;
	margin-right: auto;
	width:70%;
	text-align: center;
}

#slider{
	float:left;
	position: relative;
}

#seekslider{
	float:left;
	position: relative;
}

.buttons{
	float:left;
}

#left{
	float: left;
	margin: 10px;
	width: 600px;
	padding: 50px;
}

#right{
	float: right;
	margin: 10px;
	width: 400px;
	padding: 50px;
}

#bottom{
	position: relative;
	clear:both;
	text-align: center;
}

#duration_label{
	position: absolute;
	left:100px;
}

#time{
	padding: 5px;
	border-style: outset;
	border-width: 2px;
	right:50%;
}

#input{
	margin-top: 20px;
}

#playlistToggle{
	position: relative;
	left: 46%;
}

#playing{
	position: relative;
	left:40%;
	padding: 5px;
	border-style: outset;
	border-width: 2px;
	float:left;
}

ul{
	margin: 0 auto;
	text-align: left;
}
